body {
  font-family: "Roboto", cursive;
  height: 100vh;
  background-color: #fff;
  overflow-x: hidden; /* yatay kaydırmayı devre dışı bırakır */
  user-select: none; /* metinlerin seçilmesini engeller */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

nav {
  background-color: rgb(255, 255, 255);
  color: #000;
  position: fixed; /* ekranda bunun sabit kalmasını sağlar */
  top: 0; /* bununla navbarı en tepeye yerleştirdik */
  width: 100%; /* genişliği 100% yaparak tüm ekrana yaydık */
  box-shadow: 5px 2px rgb(240, 242, 245);
  z-index: 99;
}

.nav-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 75px;
}

.nav-logo {
  font-size: 2.5rem;
  color: #8E9A9B;
}

a {
  text-decoration: none; /* altındaki çizgi kalktı */
  color: unset;
}

.main {
  height: 100vh;
  padding-top: 75px;
  display: grid;
  place-items: center;
}

.screen {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 400px;
}

.game-screen {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  overflow: auto;
}

.sudoku-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(9, auto);
}

.sudoku-grid-cell {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: #f0f2f5;
  color: #8E9A9B;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.sudoku-grid-cell:hover {
  border: 2px solid #8E9A9B;
}

.game-info {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.game-info-box {
  height: 45px;
  background-color: #f0f2f5;
  color: hwb(185 56% 35%);
  border-radius: 10px;
  display: grid;
  place-items: center;
  padding: 0 20px;
  font-size: 1.5rem;
}

.numbers {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.number {
  height: 40px;
  border-radius: 10px;
  background-color: #f0f2f5;
  color: hwb(185 56% 35%);
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.delete {
  background-color: hsl(0, 82%, 60%);
  color: #fff;
}
